{% extends '::base.html.twig' %}

{% import '::navbar.html.twig' as navbar %}

{% block title %} Ajout Bizuth WEI {% endblock %}

{% block navbar %}
	{{ navbar.input('','','active') }}
{% endblock %}

{% block content  %}

<fieldset>
	<form action="{{ path('cva_gestion_membre_ajoutBizuthWEI') }}" method="post" {{ form_enctype(form) }}> 
		
		<div class="container well">	
			<div class="row">
				<div class="span12">
					<legend>Formulaire d'ajout de Bizuth</legend>
				</div>

				<div class="span3">
					{{ form_row(form.name, {'label': 'Nom :', 'attr' : { 'placeholder' : 'Nom' }} ) }}
				</div>

				<div class="span3">
					{{ form_row(form.firstName, {'label': 'Prenom :', 'attr' : { 'placeholder' : 'Prenom' }} ) }}
				</div>

				<div class="span1">
					{{ form_row(form.civilite, {'label': 'Civilite :', 'attr' : { 'placeholder' : 'Civilite' }} ) }}
				</div>
				<div class="span2">
					{{ form_row(form.annee, {'label': 'Annee :', 'attr' : { 'style':'width:80px','onchange': 
"disableDeparts(this.value);" }} ) }}
					{{ form_row(form.departement, {'label': 'Departement :', 'attr' : { 'style':'width:80px' }} ) }}
				</div>

				<div class="span3">
					{{ form_row(form.birthday, {'label': 'Date de Naissance :' } ) }}
				</div>

			</div>

			<div class="row">
				<div class="span3">
					{{ form_row(form.numEtudiant, {'label': 'Numero etudiant :', 'attr' : { 'placeholder' : 'Numero etudiant' }} ) }}
				</div>

				<div class="span3">
					{{ form_row(form.mail, {'label': 'Mail :', 'attr' : { 'placeholder' : 'Mail' }} ) }}
					<button class="btn btn-mini" type="button" onclick="mailINSA();"> Mail INSA </button>
				</div>

				<div class="span3">
					{{ form_row(form.tel, {'label': 'Telephone :', 'attr' : { 'placeholder' : 'Telephone' }} ) }}
				</div>
				
				<div class="span3">
					{{ form_row(form.remarque, {'label': 'Remarque :', 'attr' : { 'placeholder' : 'Remarque' }} ) }}
				</div>
			</div>
			<div class="row">
				<div class="span2 offset5">
					<br/>
					<br/>				
						{{ form_rest(form) }}
						<input class="btn btn-large btn-primary" type="submit" />
				</div>
			</div>
		</div>
	</form>
</fieldset>

</div>
{% endblock %}

 {% block javascripts %}
{{ parent() }}
			{% javascripts
				'@CvaGestionMembreBundle/Resources/views/js/ajout.js'  %}				
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
{% endblock %}
