{% extends '::base.html.twig' %}

{% import '::navbar.html.twig' as navbar %}

{% block navbar %}
	{{ navbar.input('','','','active') }}
{% endblock %}

	{% block title %} Ajout de Produit{% endblock %}

	{% block content  %}					

		<div class="container well">
				<fieldset>
				    <legend>Formulaire d'ajout de produit</legend>
				    
					    <form action="{{ path('cva_gestion_membre_addProduit') }}" method="post" {{ form_enctype(form) }}> 
					    {{ form_errors(form) }}
					    <div class="row">

					    <div class="span3">
						    {{ form_row(form.description, {'label': 'Description :', 'attr' : { 'placeholder' : 'Description' }} ) }}
					    </div>
						
						<div class="span3">
							{{ form_row(form.price, {'label': 'Prix :', 'attr' : { 'placeholder' : 'Prix' }} ) }}
						</div>
						
						<div class="span2 offset1">
							{{ form_row(form.disponibilite, {'label': 'Disponibilite :','attr' : { 'placeholder' : 'Disponibilite' } } ) }}
						</div>
					    
					    {{ form_rest(form) }}
					    <div class="span3 offset1">
								<br/>
								<input class="btn btn-large btn-primary" type="submit" />
							</div>

					    </div>
					    </form>
					

				    
				</fieldset>
			
		</div>

{% endblock %}
