{% extends '::base.html.twig' %}


{% block title %} Ajout adhérent {% endblock %}


{% block content  %}

<fieldset>
	<form action="{{ path('cva_gestion_membre_ajoutAdherent') }}" method="post" {{ form_enctype(form) }}> 
		
		<div class="container well">	
			<div class="row">
				<div class="col-md-12">
					<legend>Formulaire d'ajout d'adhérent</legend>
				</div>

				<div class="col-md-3">
					{{ form_row(form.name, {'label': 'Nom :', 'attr' : { 'placeholder' : 'Nom' }} ) }}
				</div>

				<div class="col-md-3">
					{{ form_row(form.firstName, {'label': 'Prenom :', 'attr' : { 'placeholder' : 'Prenom' }} ) }}
				</div>

				<div class="col-md-1">
					{{ form_row(form.civilite) }}
				</div>
				<div class="col-md-2">
					{{ form_row(form.annee, {'label': 'Annee :', 'attr' : { 'style':'width:80px','onchange': 
"disableDeparts(this.value);" }} ) }}
					{{ form_row(form.departement, {'label': 'Departement :', 'attr' : { 'style':'width:80px' }} ) }}
				</div>

				<div class="col-md-3">
					{{ form_row(form.birthday, {'label': 'Date de Naissance :' } ) }}
				</div>

			</div>

			<div class="row">
				<div class="col-md-3">
					{{ form_row(form.numEtudiant, {'label': 'Numéro étudiant :', 'attr' : { 'placeholder' : 'Numéro étudiant' }} ) }}
				</div>

				<div class="col-md-3">
					{{ form_row(form.mail, {'label': 'Mail :', 'attr' : { 'placeholder' : 'Mail' }} ) }}
					<button class="btn btn-mini" type="button" onclick="mailINSA();"> Mail INSA </button>
					<a href="#myModal" role="button" class="btn btn-mini" data-toggle="modal">Mail inconnu</a>
				</div>

				<div class="col-md-3">
					{{ form_row(form.tel, {'label': 'Téléphone :', 'attr' : { 'placeholder' : 'Téléphone' }} ) }}
				</div>				
				<div class="col-md-3">
					{{ form_row(form.remarque, {'label': 'Remarque :', 'attr' : { 'placeholder' : 'Remarque' }} ) }}
				</div>
			</div>
			
			<br/>
			<div class="row">
				<div class="col-md-1 col-md-offset-5">
					    {{ form_row(form.Valider, {'label': 'Valider', 'attr' : { 'class' : 'btn btn-large btn-primary'}} ) }}
					    
			    	</div>			    	
			    	<div class="col-md-3">
			    		{{ form_row(form.Prod, {'label': 'Valider + Produits', 'attr' : { 'class' : 'hidden'}} ) }}		    		</div>
		    	</div>
		    	{{ form_rest(form) }}
		</div>
	</form>
</fieldset>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
							<h3 id="myModalLabel">Confirmation</h3>
					  </div>
					  <div class="modal-body">
							Voulez vous vraiment renseigner un e-mail inconnu ?</br>							
					  </div>
					  <div class="modal-footer">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
							<button class="btn" data-dismiss="modal" type="button" onclick="mailInconnu();"> Oui </button>
					  </div>
			</div>

</div>
{% endblock %}

 {% block javascripts %}
{{ parent() }}
			{% javascripts
				'@CvaGestionMembreBundle/Resources/views/js/ajout.js'  %}				
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
{% endblock %}
