{% extends '::base.html.twig' %}



	{% block title %} Liste d'Attente WEI {% endblock %}



	
	{% block content %}
	
		<div class ="container">
		<div class="row">
				<div class="span4 offset4">
					<h3 id="nomEcran">Liste d'Attente Inscrits</h3>
				</div>
				<div class="span9">
					<table class="table dt-responsive table-bordered table-hover table-striped" id="table_adherent">
					  <thead>
 						<tr id="search">
							<th>Place en LA</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Date de Naissance</th>
							<th class="hidden">Majeur ?</th>
							<th >Majeur ?</th>
							<th class="hidden">Remarque</th>
							<th class="hidden">Produits</th>
						</tr> 
					  </thead>					  
					  <tbody id="etudiants">			  

						{% for adh in adherent %}
								<tr id="{{ adh.bizuth.id }}" onclick="return voir({{ adh.bizuth.id }},'yes');">
									  <td>{{ adh.placeListeAttente }}</td>
									  <td>{{ adh.bizuth.name}}</td>
									  <td>{{ adh.bizuth.firstName }}</td>
									<td>{{ adh.bizuth.birthday|date('d-m-Y') }}</td>
									<td class="hidden"> {{ adh.majeur }} </td>
									<td style="text-align:center;">{% if adh.majeur == 'Mineur' %}<img src={{ asset('img/18.jpg') }} height="20" width="20"> {% endif %}</td>
									<td class="hidden"> {{ adh.bizuth.remarque }} </td>
									<td class="hidden">{% for paiement in adh.prods %} {% for prod in paiement[0] %}{{ prod.description }} {% endfor %} {% endfor %} </td>
								</tr>	
						{% endfor %}	

					  </tbody>
					</table>
<div align="right"><button class="btn btn-medium btn-info" onclick="createCSV('table_adherent',3)"> Export CSV </button></div>
				</div>
						
				<div class="span3">		
				
					<table id="details_droite" class="table table-bordered detailed-table">
						<thead>
							<th>
								Détails:
							</th>
						</thead>
					  <tbody id="detailed-body" class="details">
						<tr class="infos">
							<td id="voirEtudiant"></td>
						</tr>

						<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
										<h3 id="myModalLabel">Confirmation</h3>
								  </div>
								  <div class="modal-body">
										<p>Voulez-vous vraiment supprimer cet utilisateur ?</p>
								  </div>
								  <div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
										<a role="button" href="" class="btn btn-primary">Oui</a>
								  </div>
						</div>
					  </tbody>
					</table>
				</div>
			</div>
			
		</div>

		<form action="{{path('cva_gestion_membre_exportCSV')}}" method="post" name="formCSV">
		<input type="hidden" name="csvText" id="csvText"/>
		</form>
		
		{% endblock %}
		       {% block javascripts %}
			   {{ parent() }}
				   <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
				   <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
				   <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
				   <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>
			{% javascripts
				'@CvaGestionMembreBundle/Resources/views/js/tableau.js'  %}				
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
