<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Editer adhérent</h4>
</div>
{{ form_start(form,{
    action:url('cva_membership_student_edit_modal',{id:id}),
    attr:{
        dataAsync:"",id:"form-student",'data-id':id
    }}) }}
<div class="modal-body row">

    <!-- Civilité -->
    <div class="col-md-2">{{ form_row(form.civilite) }}</div>
    <div class="col-md-5">{{ form_row(form.firstName) }}</div>
    <div class="col-md-5">{{ form_row(form.name) }}</div>

    <!-- Etudes -->
    <div class="col-md-3">{{ form_row(form.numEtudiant) }}</div>
    <div class="col-md-3">{{ form_row(form.annee) }}</div>
    <div class="col-md-6">{{ form_row(form.departement) }}</div>

    <!-- Coordonnées -->
    <div class="col-md-6">{{ form_row(form.mail) }}</div>
    <div class="col-md-6">{{ form_row(form.tel) }}</div>
    <div class="col-md-7">{{ form_row(form.birthday) }}</div>
    <div class="col-md-5">{{ form_row(form.remarque) }}</div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" id="submitStudentForm">Enregistrer</button>
</div>
{{ form_end(form) }}
<script>
    jQuery(function($) {
        $('#form-student').on('submit',sendStudentForm);
    });
</script>