{% extends '::base.html.twig' %}

{% block title %}
    Nouvel adhérent
{% endblock %}

{% block content %}
    {{ form_start(form,{action:url('cva_membership_student_new')}) }}
    <div class="container">
        <div class="page-header">
            <h1>Ajouter un adhérent
                <div class="pull-right btn-group" style="top:5px;position: relative">
                    <button type="reset" onclick="history.back()" class="btn btn-danger">{{ icon("remove") }} Annuler</button>
                    <button type="submit" class="btn btn-primary">{{ icon("ok") }} Créer et retourner à la liste</button>
                    <button type="submit" class="btn btn-success" onclick="addAfter()">{{ icon("plus") }} Créer et ajouter un autre</button>
                </div>
            </h1>
        </div>
        <div class="row">
                <div class="col-md-12">
                    {{ form_errors(form, { 'global_errors': true }) }}
                </div>
                <div class="col-md-9 row">
                    <!-- Civilité -->
                    <div class="col-md-2">{{ form_row(form.student.civilite) }}</div>
                    <div class="col-md-5">{{ form_row(form.student.firstName) }}</div>
                    <div class="col-md-5">{{ form_row(form.student.name) }}</div>

                    <!-- Coordonnées -->
                    <div class="col-md-6">
                        <div class="form-group{% if form.student.mail.vars.errors|length > 0 %} has-error{% endif %}">
                            {{ form_label(form.student.mail) }}
                            <div class="input-group">
                                {{ form_widget(form.student.mail) }}
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" onclick="mailINSA()" type="button">Mail INSA</button>
                                </span>
                            </div>
                            {{ form_errors(form.student.mail) }}
                        </div>
                        {{ form_row(form.student.tel) }}
                        {{ form_row(form.student.birthday) }}
                    </div>

                    <!-- Etudes -->
                    <div class="col-md-6">
                        <div>{{ form_row(form.student.numEtudiant) }}</div>
                        <div class="col-md-6">{{ form_row(form.student.annee) }}</div>
                        <div class="col-md-6">{{ form_row(form.student.departement) }}</div>
                        {{ form_row(form.student.remarque) }}
                    </div>
                </div>
                <div class="col-md-3">
                {{ form_row(form.payments) }}
                </div>

        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function addAfter(){
            document.getElementById('form_target').value = 'new';
        }

        accentsTidy = function(s)
        {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/æ/g),"ae");
            r = r.replace(new RegExp(/ç/g),"c");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/œ/g),"oe");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");
            r = r.replace(new RegExp(/[ýÿ]/g),"y");
            return r;
        };

        function mailINSA(){
            var nom=document.getElementById('form_student_name').value.trim().split(' ').join('-');

            var prenom=document.getElementById('form_student_firstName').value.trim().split(' ').join('-');

            document.getElementById('form_student_mail').value=accentsTidy(prenom)+'.'+accentsTidy(nom)+'@insa-lyon.fr';
        }
    </script>
{% endblock %}

