{% extends '::base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-md-12 row">
                <div class="panel panel-default panel-success text-justify">
                    <div class="panel-heading" data-toggle="collapse" data-target="#help-body">
                        <h3 class="panel-title">{{ icon("question-sign") }}&nbsp;Aide</h3>
                    </div>
                    <div class="panel-body collapse" id="help-body">
                        <p>Sur cette page tu peux éditer un adhérent.</p>
                        <p>Deux cas sont possibles :</p>
                        <ul>
                            <li>Les infos sont déjà rentrées : Vérifie-les avec lui et ajoute son mail INSA</li>
                            <li>Il n'y a rien : Remplis les informations en lui demandant gentiment.</li>
                        </ul>
                        <p>Les informations obligatoires sont :</p>
                        <ul>
                            <li>Le nom et le prénom</li>
                            <li>Le genre</li>
                            <li>Une adresse mail (INSA de préférence)</li>
                            <li>Le numéro étudiant</li>
                            <li>Le numéro de téléphone (bizuth 1A)</li>
                        </ul>
                    </div>
                </div>
        </div>

        {{ form_start(form) }}
        <div class="col-md-12 row">
                    <div class="col-md-12">
                        {{ form_errors(form, { 'global_errors': true }) }}
                    </div>
                    <div class="col-md-9 row">
                        <!-- Civilité -->
                        <div class="col-md-2">{{ form_row(form.student.civilite) }}</div>
                        <div class="col-md-4">{{ form_row(form.student.firstName) }}</div>
                        <div class="col-md-6">{{ form_row(form.student.name) }}</div>

                        <!-- Coordonnées -->
                        <div class="col-md-6">
                            <div class="form-group{% if form.student.mail.vars.errors|length > 0 %} has-error{% endif %}">
                                {{ form_label(form.student.mail) }}
                                <div class="input-group">
                                    {{ form_widget(form.student.mail) }}
                                    <span class="input-group-btn">
                                    <button class="btn btn-danger" data-mail="insa" type="button">{{ icon('envelope') }} INSA</button>
                                </span>
                                </div>
                                {{ form_errors(form.student.mail) }}
                            </div>
                            {{ form_row(form.student.tel) }}
                            {{ form_row(form.student.birthday) }}
                        </div>

                        <!-- Etudes -->
                        <div class="col-md-6">{{ form_row(form.student.numEtudiant) }}</div>
                        <div class="col-md-3">{{ form_row(form.student.annee) }}</div>
                        <div class="col-md-3">{{ form_row(form.student.departement) }}</div>
                        <div class="col-md-6">{{ form_row(form.student.remarque) }}</div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-danger" id="warn_va" style="display: none">
                            {{ icon("warning") }} On ne peut pas ne pas adhérer et partir au WEI !
                        </div>
                        <div style="display: none" id="wei">
                            {{ form_row(form.wei) }}
                        </div>
                        {{ form_row(form.va) }}
                        <div class="form-group">
                            <label class="control-label required">Total à payer</label>
                            <p><span id="toPay">0,00</span>&nbsp;€</p>
                        </div>
                        {{ form_row(form.methodPayment) }}
                    </div>
        </div>

        <nav class="clearfix">
            <a class="btn btn-default" href="{{ url("wizard_search") }}" onclick="">&larr; Précédent</a>
            <button class="btn btn-primary pull-right" type="submit" id="submit">Suivant &rarr;</button>
        </nav>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@CvaGestionMembreBundle/Resources/views/js/mailINSA.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var products = {{ products|json_encode|raw }};
        function takeVA(){
            var selected = $("#form_va").find("input[type='radio']:checked");
            if (selected.length > 0) {
                return "VA" == selected.val();
            }
            return false;
        }
        function takeWEI(){
            var selected = $("#form_wei").find("input[type='radio']:checked");
            if (selected.length > 0) {
                return "WEI" == selected.val();
            }
            return false;
        }
        function sendForm(){
            $('form[name=form]').submit();
        }

        function displayWei(){
            var annee = $("#form_student_annee").val();
            var $wei = $('#wei');
            if(annee == "1" || annee == 1){
                $wei.show();
            }else {
                $wei.hide();
            }
            $("#form_wei").find("input[type='radio']:checked");
        }

        function computeToPay(){
            var price = 0;
            var annee = $("#form_student_annee").val();
            if(takeVA()){
                $('#warn_va').hide();
                if($("#form_va").find("input[type='radio']:disabled").length > 0){
                    price += 0; // Already bought
                } else if(annee == 1){
                    price += parseInt(products['VA2015B'].price);
                } else {
                    price += parseInt(products['VA2015A'].price);
                }
                if(takeWEI() && annee == 1 ){
                    if($("#form_wei").find("input[type='radio']:disabled").length <= 0)
                        price += 35.0;
                }
            } else {
                if(takeWEI() && annee == 1){
                    $('#warn_va').show(400);
                } else {
                    $('#warn_va').hide();
                }
            }
            $("#toPay").html(price.toFixed(2).toLocaleLowerCase().replace(".",","));
        }
        $(function(){
            $("#form_va").find('input').change(computeToPay);
            $("#form_wei").find('input').change(computeToPay);
            var $formStudentAnnee = $("#form_student_annee");
            $formStudentAnnee.change(displayWei);
            $formStudentAnnee.change(computeToPay);
            computeToPay();
            displayWei();
        })
    </script>
{% endblock %}

