<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %} {% endblock %}</title>

		<!-- Bootstrap -->
		<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
		{% block stylesheets %}
		{% endblock %}

		<!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
		{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body>

	{% include "nav.html.twig" %}

	<div class="container">
		{% include '::flash.html.twig' with { 'close': true } %}
	</div>

	{% block content %} {% endblock %}
	{% block body %} {% endblock %}

	<footer class="footer">
		<div class="container text-center">
			<hr>
			&copy; 2015-2016 BdE INSA Lyon
		</div>
	</footer>


	<!-- Symfony Routing -->
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
	<script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
	<!-- Include all JavaScripts, compiled by Assetic -->
	<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/sonic.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/sonic.js') }}"></script>
	{% block javascripts %}{% endblock %}
    </body>
</html>
