{% macro input(add,search,cowei,admin,stats,profil ) %}
<br/>
<div class="container">
	<div class="navbar">
  		<div class="navbar-inner">
	    		<a class="brand" >Menu</a>
	    			<ul class="nav">
						{% if is_granted('ROLE_SOIREE') %}
							<li class="{{add}}"><a href="{{path('cva_gestion_membre_ajoutAdherent')}}">Ajout d'Adherent</a></li>
						{% endif %}
						
						{% if is_granted('ROLE_CONSULT') %}
							<li  class="{{search}}">
								<a href="{{path('cva_gestion_membre_adherent')}}">Recherche d'Adherent</a>
							</li>
						{% endif %}

						{% if is_granted('ROLE_COWEI') %}
							<li class="dropdown {{cowei}}"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Zone CoWEI <b class="caret"></b> </a>
								<ul class="dropdown-menu">
									<li><a href="{{path('cva_gestion_membre_ajoutBizuthWEI')}}">Ajout Bizuth</a></li>
									<li><a href="{{path('cva_gestion_membre_rechercheBizuthWEI')}}">Recherche Bizuth</a></li>
								</ul>
							</li>
						{% endif %}
							
						{% if is_granted('ROLE_ADMIN') %}
							<li class="dropdown {{admin}}"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Zone Admin <b class="caret"></b> </a>
								  <ul class="dropdown-menu">
									<li><a href="{{path('cva_gestion_membre_addUser')}}">Ajout Utilisateur</a></li>
									<li><a href="{{path('cva_gestion_membre_editUser')}}">Modif Utilisateur</a></li>
									<li class="divider"></li>
									<li><a href="{{path('cva_gestion_membre_addProduit')}}">Ajout Produit</a></li>
									<li><a href="{{path('cva_gestion_membre_tableauProduits')}}">Modif Produit</a></li>
								  </ul>
							</li>	
						{% endif %}
					</li>						
	      			</ul>

				<ul class="nav pull-right">
				{% if is_granted('ROLE_PERM') %}
					<li class="{{stats}}"><a href="{{path('cva_gestion_membre_stats')}}">Statistiques</a></li>
					<li class="{{profil}}"><a href="{{ path('cva_gestion_membre_profil') }}">Profil {{ app.user.username }} </a></li> 
				{% endif %}
					<li><a href="{{path('logout')}}">Deconnexion</a></li>
	    			</ul>
	 		</div>
		</div>

</div>

{% endmacro %} 


