{% extends '::base.html.twig' %}

	{% block title %} Adhérents {% endblock %}

	{% block content %}

        <div class="container">
            <div class="page-header">
                <h1>{% block head_title %}Inscrits WEI{% endblock %} <small>{% block head_small %}Ceux qui partent{% endblock %}</small>

                    <div class="pull-right">
                        <div class="btn-group" style="">
                            <a class="btn btn-success" href="{{ url("cva_membership_student_new") }}">{{ icon('plus') }}</a>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <table id="wei_table" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr id="search">
                            {% block head_table %}
                            <th>N°Etudiant</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            {% endblock %}
                        </tr>
                        </thead>
                        <tbody id="etudiants">
                        {% block table_body %}
                        {% for adh in students %}
                            <tr onclick="voir({{ adh.id }})">
                                <td>{{ adh.numEtudiant }}</td>
                                <td>{{ adh.name }}</td>
                                <td>{{ adh.firstName }}</td>
                            </tr>
                        {% endfor %}
                        {% endblock %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-3">

                    <div class="panel panel-default" id="details_droite">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Détails</h4>
                            <div class="pull-right btn-group" id="editStudent">
                                {% if is_granted('ROLE_PERM') %}
                                    <a class="btn btn-primary btn-sm" href="#" onclick="editStudent()">{{ icon('pencil') }}&nbsp;Editer</a>
                                {% endif %}
                                {% if is_granted('ROLE_MODO') %}
                                    <a class="btn btn-danger btn-sm" href="#" data-route="cva_membership_student_delete" data-toggle="modal" data-target="#confirm-delete">{{ icon('trash') }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-body" id="voirEtudiant">
                            Sélectionnez un étudiant ...
                        </div>
                        <div class="panel-footer" id="panel-toolbar" style="display: none">
                        </div>

                        <div class="modal fade" id="editStudentModal">
                            <div class="modal-dialog">
                                <div class="modal-content" id="editStudentModalContent">
                                    Loading ...
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div class="modal fade" id="editPaymentModal">
                            <div class="modal-dialog">
                                <div class="modal-content" id="editPaymentModalContent">
                                    <div class="modal-body">
                                        Loading ...
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h3 id="myModalLabel">Confirmation</h3>
                            </div>
                            <div class="modal-body">
                                <p>Voulez-vous vraiment supprimer cet utilisateur ?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
                                <a role="button" href="" class="btn btn-primary">Oui</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <form action="{{ path('cva_gestion_membre_exportCSV') }}" method="post" name="formCSV">
            <input type="hidden" name="csvText" id="csvText"/>
        </form>

        <div class="modal fade" id="unregisterConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-danger">
                    <div class="modal-header panel-heading">
                        Zone de danger
                    </div>
                    <div class="modal-body">
                        Voulez-vous vraiment désinscrire ce bizuth du WEI ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel-danger">
                    <div class="modal-header panel-heading">
                        Zone de danger
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de faire cette suppression ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

		{% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="https://cdn.datatables.net/r/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3,cr-1.2.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,rr-1.0.0,sc-1.3.0,se-1.0.1/datatables.min.js"></script>
            {% javascripts
            '@CvaGestionMembreBundle/Resources/views/js/students.js'
            '@CvaGestionMembreBundle/Resources/views/js/sendModalForm.js'
            '@CvaGestionMembreBundle/Resources/views/js/mailINSA.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                function editStudent(){
                    //fixes a bootstrap bug that prevents a modal from being reused
                    $('#editStudentModal').modal('show').children("#editStudentModalContent");
                    $.get(
                            Routing.generate("cva_membership_student_edit_modal",{id:$("#etuid").data("etu-id")}),
                            function(response, status, xhr) {
                                if (status === 'error') {
                                    //console.log('got here');
                                    $('#editStudentModalContent').html('<h2>Oh boy</h2><p>Sorry, but there was an error:' + xhr.status + ' ' + xhr.statusText+ '</p>');
                                }else {
                                    $('#editStudentModalContent').html(response);
                                }
                                return this;
                            }
                    );

                }
                function voir(resource) {
                    $.get(Routing.generate("bde_wei_registration_sidebar",{id:parseInt(resource)}), function (msg) {
                        var $editStudent = $("#editStudent");
                        $editStudent.show();
                        $('#voirEtudiant').html(msg);
                    });
                }
                $('#unregisterConfirm').on('show.bs.modal', function(e) {
                    var $modal = $(this);
                    var $btn = $(this).find('.btn-ok');
                    var $origin = $(e.relatedTarget);
                    if($origin.data('route') == undefined){
                        $btn.attr('href', $origin.data('href'));
                    } else {
                        $btn.attr('href', Routing.generate($origin.data('route'), {id: currentStudentId()}));
                    }
                });
                $(function(){
                    $("#editStudent").hide();
                    var table = $('#wei_table').DataTable({
                        language: {
                            "sProcessing": "Traitement en cours...",
                            "sSearch": "",
                            "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                            "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                            "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                            "sInfoFiltered": "(sur _MAX_)",
                            "sInfoPostFix": "",
                            "sLoadingRecords": "Chargement en cours...",
                            "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                            "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                            "oPaginate": {
                                "sFirst": "Premier",
                                "sPrevious": "Pr&eacute;c&eacute;dent",
                                "sNext": "Suivant",
                                "sLast": "Dernier"
                            },
                            "oAria": {
                                "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                            }
                        },
                        dom:
                        "<'row'<'col-sm-3'l><'col-sm-6 text-center btn-group'i><'col-sm-3'f>>" +
                        "<'row'<'col-sm-5'B><'col-sm-7'p>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-2'><'block-center col-sm-7'p>>",
                        but:{

                        },
                        buttons: [
                            {
                                extend: 'csvHtml5', className
                            :
                                'btn btn-primary'
                            }
                            ,
                            {
                                extend: 'pdfHtml5', className
                            :
                                'btn btn-primary'
                            }
                            ,
                            {
                                extend: 'excelHtml5', className
                            :
                                'btn btn-primary'
                            }
                        ]
                    });
                })
            </script>
        {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-flash-1.0.3,b-html5-1.0.3,b-print-1.0.3,cr-1.2.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,rr-1.0.0,sc-1.3.0,se-1.0.1/datatables.min.css"/>
    <style>
    </style>
{% endblock %}
