{% extends '@BdEWei/Registration/commons.html.twig' %}

	{% block title %} Adhérents {% endblock %}
    {% block head_title %}Liste Attente WEI{% endblock %}
    {% block head_small %}Ceux qui attendent pour partir{% endblock %}
    {% block head_table %}
                            <th>Place</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
    {% endblock %}
    {% block table_body %}
                        {% for adh in students %}
                            <tr onclick="voir({{ adh.id }})">
                                <td>{{ adh.waiting.first.rank }}</td>
                                <td>{{ adh.name }}</td>
                                <td>{{ adh.firstName }}</td>
                                <td>{{ adh.tel }}</td>
                            </tr>
                        {% endfor %}
    {% endblock %}
