{% if etu.numEtudiant != "" %}
<p><strong>N° Etudiant&nbsp;:&nbsp;</strong>{{ etu.numEtudiant }}</p>
{% endif %}
<p><strong>Civilité&nbsp;:&nbsp;</strong>{{ etu.civilite }}</p>
<p><strong>Nom&nbsp;:&nbsp;</strong>{{ etu.name }}</p>
<p><strong>Prénom&nbsp;:&nbsp;</strong>{{ etu.firstName }}</p>
{% if etu.tel != "" %}
<p><strong>Téléphone&nbsp;:&nbsp;</strong>{{ etu.tel }}</p>
{% endif %}
<p><strong>Email&nbsp;:&nbsp;</strong>{{ etu.mail }}</p>
<p><strong>Naissance&nbsp;:&nbsp;</strong>{{ etu.birthday|date('d-m-Y') }}</p>
{% if etu.remarque != "" %}
<p><strong>Remarque&nbsp;:&nbsp;</strong>{{ etu.remarque }}</p>
{% endif %}
{% if isWaiting and isPreregistered %}

{% elseif not isWaiting and isPreregistered %}

{% elseif isWaiting and not isPreregistered %}

{% elseif not isWaiting and not isPreregistered %}
    {{ form(affectation) }}
{% endif %}
<a href="#" class="btn btn-danger btn-block" data-href="{{ url("bde_wei_registration_delete",{id:etu.id}) }}" data-toggle="modal" data-target="#unregisterConfirm">{{ icon('trash') }} Désinscrire du WEI</a>
<div style="display: none" id="etuid" data-etu-id="{{ etu.id }}" data-etu-payments-count="{{ etu.payments.count }}"></div>
