{% extends '::base.html.twig' %}

	{% block content  %}					
				<fieldset>
				    <legend>Ajout Bungalow</legend>
				    
					    <form action="{{ path('bde_wei_bungalow_add') }}" method="post" {{ form_enctype(form) }}>
					    {{ form_errors(form) }}
					    <div class="row">

						    <div class="span3">
							    {{ form_row(form.nom, {'label': 'Nom :', 'attr' : { 'placeholder' : 'Nom' }} ) }}
						    </div>

						    <div class="span3">
							    {{ form_row(form.sexe, {'label': 'Sexe :', 'attr' : { 'placeholder' : 'Sexe' }} ) }}
						    </div>
							
							<div class="span3">
								{{ form_row(form.nbPlaces, {'label': 'nbPlaces :', 'attr' : { 'placeholder' : 'nbPlaces' }} ) }}
							</div>
						    
						    {{ form_rest(form) }}
					    </div>
						    <div class="span3 offset2">
									<br/>
									<input class="btn btn-large btn-primary" type="submit" />
							</div>

					    </form>
					

				    
				</fieldset>
{% endblock %}
