{% extends '::base.html.twig' %}

{% block content  %}
	<div class="container">
		{{ form_start(form, { 'style': 'horizontal' }) }}
		<div class="page-header">
			<h1>{% block head_title %}Editer un bungalow{% endblock %}
				<div class="btn-group pull-right" style="">
					{{ form_widget(form.actions) }}
				</div>
			</h1>
		</div>
		{{ form(form, { 'style': 'horizontal' }) }}
		{{ form_end(form) }}
		<h3>Liste des étudiants dans ce bungalow</h3>
		{% if form.vars.value.students | length > 0%}
		<ul>
			{% for student in form.vars.value.students %}
			<li>{{ student }}</li>
			{% endfor %}
		</ul>
		{% else %}
		Aucun étudiant affecté
		{% endif %}
	</div>
{% endblock %}
