{% extends '::base.html.twig' %}

{% block content  %}
	<div class="container">
		<div class="page-header">
			<h1>Bungalows
				<div class="pull-right">
					<div class="btn-group" style="">
						<a class="btn btn-success" href="{{ url("bde_wei_bungalow_add") }}">{{ icon('plus') }}</a>
					</div>
				</div>
			</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table id="table_bungalow" class="table table-bordered table-hover table-striped">
					<thead>
					<tr id="search">
						<th>ID</th>
						<th>Nom</th>
						<th>Type</th>
						<th>Etudiants inscrits</th>
						<th>Nombre places</th>
						<th width="107px"></th>
					</tr>
					</thead>
					<tbody id="bungalows">
					{% for bungalow in bungalows %}
						<tr>
							<td>{{ bungalow.id }}</td>
							<td>{{ bungalow.nom }}</td>
							<td>{{ bungalow.humanReadableSexe }}</td>
							<td>{{ bungalow.amountOfRegisteredEtudiants }}</td>
							<td>{{ bungalow.nbPlaces }}</td>
							<td>
								<div class="btn-group">
									<a href="{{ url("bde_wei_bungalow_edit",{id:bungalow.id}) }}" class="btn btn-default">
										{{ icon("pencil") }}
									</a>
									<a href="#" data-toggle="modal" data-target="#confirm-delete" data-href="{{ url("bde_wei_bungalow_delete",{id:bungalow.id}) }}" class="btn btn-danger">
										{{ icon("trash") }}
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>

	</div>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content panel-danger">
				<div class="modal-header panel-heading">
					Zone de danger
				</div>
				<div class="modal-body">
					Voulez-vous supprimer ce bungalow ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<a class="btn btn-danger btn-ok">Delete</a>
				</div>
			</div>
		</div>
		<script>
		</script>
	</div>
{% endblock %}

{% block javascripts %}

	<script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.8/js/dataTables.bootstrap.min.js"></script>
	<script>
		$(function () {
			$('#confirm-delete').on('show.bs.modal', function(e) {
				$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
			});
		});
		$(function(){

			var TableAssemblees = $('#table_bungalow').dataTable({
				"oLanguage": {
					"sProcessing":     "Traitement en cours...",
					"sSearch":         "Rechercher&nbsp;:&nbsp;",
					"sInfo":           "Affichage des &eacute;l&eacute;ments _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
					"sInfoEmpty":      "Aucun &eacute;l&eacute;ment &agrave; afficher",
					"sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
					"sInfoPostFix":    "",
					"sLoadingRecords": "Chargement en cours...",
					"sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
					"sZeroRecords":    "Aucun r&eacute;sultat ne correspond à votre recherche.",
					"sEmptyTable":     "Aucune donnée disponible dans le tableau",
					"oPaginate": {
						"sFirst":      "Premier",
						"sPrevious":   "Pr&eacute;c&eacute;dent",
						"sNext":       "&nbsp;Suivant",
						"sLast":       "Dernier"
					},
					"oAria": {
						"sSortAscending":  ": activer pour trier la colonne par ordre croissant",
						"sSortDescending": ": activer pour trier la colonne par ordre décroissant"
					}
				}
			});
		})
	</script>
	<style>
		.dataTables_filter{
			float: right !important;
		}
		.dataTables_filter:after{
			clear: both;
		}
	</style>

{% endblock %}